.header {
  padding: 80px;
  text-align: center;
  background: #2a2c2c; 
  color: #7cdeff;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden; 
  background-color: #2a2c2c; 
}

.navbar a {
  float: left; 
  display: block;
  color: white; /* White text color */
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #2a2c2c; 
  color: #7cdeff; 
}